<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
	 	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
   	<!-- 扫描controller -->
	<context:component-scan base-package="com.offcn.controllers"></context:component-scan>
	
	<!-- mvc注解驱动 （处理器映射器、处理器适配器）-->
	<mvc:annotation-driven />
	
	<!-- 处理器映射器
		<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>
		处理器适配器
		<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean>
	 -->
	
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="views/"></property>
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">  
        	<value>1048576</value>  
    	</property>   
	</bean>
	
	<!-- springmvc 自定义拦截器 -->
	<mvc:interceptors>
		
		<mvc:interceptor>
			<!-- 拦截的路径 -->
			<mvc:mapping path="/**"/>
			<!-- 拦截器的完整类名 -->
			<bean class="com.offcn.interceptors.LoginInterceptor"></bean>
		</mvc:interceptor>
	
	</mvc:interceptors>

</beans>